/* .menu-on-left .navbar-brand {
    float: right;
    margin-right: 0;
    margin-left: 1rem; } */
  /* .navbar .navbar-brand {
    padding-top: .5rem;
    padding-bottom: .5rem; } */
    .navbar .navbar-translate {
        width: 100%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify !important;
        -webkit-box-pack: justify !important;
                justify-content: space-between !important;
        -ms-flex-align: center;
        -webkit-box-align: center;
                align-items: center;
        -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); }
    
    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; }
    
    h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
      text-align: center;
     }
    
    small {
      font-size: 60%;
      text-align: center;
     }
    
    /* a {
      color: #f96332; }
      a:hover, a:focus {
        color: #f96332; } */
    
    
    h1, .h1 {
      font-size: 3.5em;
      line-height: 1.15;
      margin-bottom: 30px;
      text-align: center;
     }
      h1 small, .h1 small {
        font-weight: 700;
        text-transform: uppercase;
        opacity: .8;
        text-align: center;
    }
    
    h2, .h2 {
      font-size: 2.5em;
      margin-bottom: 30px;
      text-align: center;
     }
    
    h3, .h3 {
      font-size: 1.825em;
      margin-bottom: 30px;
      line-height: 1.4em;
      text-align: center;
     }
    
    h4, .h4 {
      font-size: 1.5em;
      line-height: 1.45em;
      margin-top: 30px;
      margin-bottom: 15px;
      text-align: center;
     }
      /* h4 + .category,
      h4.title + .category, .h4 + .category,
      .h4.title + .category {
        margin-top: -5px; } */
    
    h5, .h5 {
      font-size: 1.3em;
      line-height: 1.4em;
      margin-bottom: 15px;
      text-align: center;
     }
      /* h5.category, .h5.category {
        font-weight: 400; } */
    
    h6, .h6 {
      font-size: 0.9em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
     }
    
    p {
      line-height: 1.61em;
      font-weight: 300;
      font-size: 2em;
      text-align: center;
    }
    
    body {
      color: #0a0a0a;
      font-size: 14px;
      font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
      overflow-x: hidden;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased; }
    
    .navbar {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      min-height: 53px;
      margin-bottom: 20px;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); }
      .navbar p {
        display: inline-block;
        margin: 0;
        line-height: 1.8em;
        font-size: 1em;
        font-weight: 400; }
        
      .navbar .navbar-nav.navbar-logo {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 49px;
        top: -4px; }
      .navbar .navbar-nav .nav-link:not(.btn) {
        text-transform: uppercase;
        font-size: 0.7142em;
        padding: 0.5rem 0.7rem;
        line-height: 1.625rem; }
      .navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
      .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
      .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
      .navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0.1875rem; }
      .navbar .logo-container {
        width: 27px;
        height: 27px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid transparent; }
    
    